<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/landR.css">
    <title>Index</title>
</head>

<body>
    <div class="card">
        <h1>Welcome</h1>
        <p class="text-above-button">If you already have an account</p>
        <button class="login-btn" onclick="window.location.href='/login'">Login</button>
        <p class="text-above-button">If you are a new user</p>
        <button class="register-btn" onclick="window.location.href='/register'">Register</button>
    </div>
    <script src="/js/index.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>